*{
    box-sizing: border-box;
}

header,footer{
    background-color: black;
    color: white;
    text-align: center;
    height:50px;
    margin: 2px;
    padding: 0;
    font-size: 30px;
    line-height: 50px;
}

section img{
    float: left;
    width:25%;
    padding:2px;
    
}

section img:hover{
    cursor:url('/favicon-16x16.png'), auto;	
}

header{
    text-transform: uppercase;
}

footer{
    clear: both;
    margin-top:3px;
}