 *{
     box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    margin:0;
    padding: 0;
    list-style: none;
    background-color: black;
    display: flex; 
}

ul a{
    color:white;
    text-decoration: none;
}

ul li{
    display: inline-block;
    padding: 10px 15px;
}

ul li:hover{
    background-color: gray;
}


@media screen and (max-width : 900px)
{
    ul{
        flex-direction: column;
        text-align: center;
       
    }
    
}  
