@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
body{
    font-family: 'Comforter', "cursive";
}
h1{
    height: inherit;
    width: 50%;
    
}

.sarah{
    text-align: center;
  
    text-shadow: 3px 3px 5px red;
}

.first{
    background-color: blue;
    max-width: 500px;
 
}
.sec{
    background-color: green;
    width: 500px;
   
}
.thr{
    background-color: yellow;
    min-width: 500px;
   
}